:root{
    --Select:#35353C;
    --brown:#1D1D21;
    --blue5:#27374D;
    --blue3:#091f2e;
    ---blue2:#164465;
    --whate:#F2F8Fc;
    --poplor:#592093;
    --blue:#2984c6;
    --blue4:#065084;
    --grey:#57595B;
    --dark-grey:#2b2b2c;
    --Blue-Nght:#0F172A;
}
.MainResetPassword{
    background-color: var(--grey);
    width: 100%;
    height: 100vh;
}
.RessetPassword{
    user-select: none;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 6%;
}
.TitleReset i{
font-size:50px;
color: var(--Blue-Nght);
}
.TitleReset p{
    color: var(--whate);
    font-size: 22px;
}
.InputAndErorrReset{
width: 60%;
display: flex;
flex-direction: column  ;
justify-content: center;
align-items: center;
padding: 15px;
    margin: 10px;

}
.InputReset{
    width: 100%;
display: flex;
justify-content: center;
align-items: center;
height: 25vh;
padding: 20px;
}
.InputReset input {
    width: 50%;
    border: none;
    outline: none;
    padding: 15px;
    background-color: var(--brown);
    color: var(--whate);
    border-radius: 10px;
    margin: 5px;
    font-size: 20px;
   
}
.InputReset button{
     cursor: pointer;
    font-size: 20px;
    color: var(--whate);
    border: none;
    outline: none;
    background-color: var(--Blue-Nght);
    padding: 13px;
    border-radius: 5px;
    width: 15%;
}
.wait{
    font-size: 30px;
}
.wait p{
    animation: TextAnmaiton 0.7s ease-in infinite;
}
.hourglass{
    animation: hourglassAnamtion 2s ease-in infinite;
}
.hourglass i{
    color: var(--Blue-Nght);
}
@keyframes hourglassAnamtion {
from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg); 
    }
}
@keyframes TextAnmaiton {
    from{
        opacity: 1;
    }
    to{
        opacity: 0.8;
    }
}
.ErrorReset{
    font-size: 50px;
    color: red;
}
.ErrorReset i{
    color: darkred;
}
.ErrorReset i p{
    color: red;
    font-size: 20px;
}

@media screen and (max-width:767px){
    .RessetPassword{
        margin-top: 15%;
    }
    .TitleReset p{
        font-size: 18px;
    }
    .InputAndErorrReset{
        width: 100%;
       
    }
    .InputReset{
         flex-direction: column;
    }
    .InputReset input {
        width: 100%;
    }
    .InputReset button{
        width: 100%;
    }
}