@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
*{
    font-family: 'Roboto', "Tajawal", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow: hidden;
    transition: 0.6s;
    text-decoration: none;
      box-sizing: border-box;
      
    
    
}
*::selection{
background-color: var(--poplor);
}

:root{
    --Select:#35353C;
    --brown:#1D1D21;
    --blue5:#27374D;
    --blue3:#091f2e;
    ---blue2:#164465;
    --whate:#F2F8Fc;
    --poplor:#592093;
    --blue:#2984c6;
    --blue4:#065084;
    --grey:#57595B;
    --dark-grey:#2b2b2c;
    --Blue-Nght:#0F172A;
}
body{
    background: #000000ea;

}
header{

width: 100%;
height: 80px;
background-color: var(--dark-grey);
color: var(--whate);
display: flex;
justify-content: center;

}
.Logo-header{
    width: 50%;
    height: 100%;
    min-height: 50%;
    max-height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    user-select: none;
    margin-bottom: -3px;
    margin-top: 5px;
  

}
.Logo-header img{

  align-content: start;
    align-items: start;
    text-align: start;
    width: 15%;
    height: 120%;
}
.Logo-header h4{
    color: var(--whate);
      align-content: end;
    text-align: end;
    width: 20%;
    height: 70%;
    font-family: "Science Gothic", sans-serif;
    font-weight: bold;
    font-size: 20px;
}
main{
    margin-top:5px;
    display: grid;
 
    gap:10px;
}

article{
     border-radius: 10px  ;
height: 200em;
    background-color: #57595B;
}



/* The MAIN */
.main{
      grid-template-columns: 93% 1fr;
      
}
.Hoverin{
     grid-template-columns: 80% 1fr;
}




/* The  Nav  */

nav{
   
    background-color: #57595B;

}
.nav{
    margin: 0;
  width: 100%; 
  height: 100vh;
  

}
.nav ul{
 
    width: 100%;
    user-select: none;
    
 
}

.item{

    display: flex;
    padding: 21px;
    border-bottom: 2px solid var(--dark-grey);
    color: oklch(100% 0.00011 271.152);
    font-size: 24px;
    align-items: center;
 
}

.item:hover:not(.active){
        padding: 29px;
     background-color: #444446;
}
.titleNav{

    color: var(--whate);
    padding-left: 5px;
    visibility: hidden;
   
    
}
.active{
    background-color: #2b2b2c;
    font-size: 26px;
}
/* Mobile */
@media screen and (max-width:767px) {
    .Logo-header{
        width: 100%;

    }
    .Logo-header img{
        width: 25%;
    }
    .Logo-header h4{
        font-size: 20px;
        width: 33%;

    }
    .main{
     display: flex;
      flex-direction: column-reverse;
    height: 100%;

    }
.Hoverin{
  display: flex;
      flex-direction: column-reverse;
    height: 100%;
}
.nav{
    height: 7.8vh;
}
.nav ul{
    width: 100%;
    display: flex;
}
.titleNav{
    display: none;
}
.item{
    height: 100%;
    padding: 15px;
    display: flex;
    width: calc(110%/5);
    justify-content: center;
    align-items: center;
     border-bottom:none;

}
.item:hover:not(.active){
    padding: 15px;
    background-color: rgba(255, 0, 0, 0);

}
}

